@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textMain; 
  }
  
  * {
    font-family: 'Manrope', sans-serif !important; 
  }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

/* Pauza po najechaniu myszką */
.animate-scroll:hover {
  animation-play-state: paused;
}